name: Static Analysis

on: [push, pull_request]

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Check Foundry version
        run: |
          forge --version

      - name: Install dependencies
        run: forge soldeer install

      - name: Install Slither
        run: pip install slither-analyzer==0.11.0

      - name: Run Slither
        run: slither .

      - name: Run mutation testing
        run: slither-mutate ./src --test-cmd="forge test"
