name: Scan for secrets

on: [push, pull_request]

jobs:
  trufflehog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
            fetch-depth: 1

      - name: Secret scanning
        uses: trufflesecurity/trufflehog@main
        with:
            base: ""
            head: ${{ github.ref_name }}
            extra_args: --log-level 5 --config .trufflehog.yml --exclude-paths .trufflehogignore
